html,  body
{
  margin: 0;
  overflow-x: hidden;
}


#canvas
{
  /* width: 100vw;
  height: 50vh; */
  /* width: 800px;
  height: 800px; */
  /* background-color: rgba(0,0,255,0.5); */
  background-color: #e1e1e1;
  /* left: 10vw; */
  position: absolute;
  /* should be auto?, easier to update other objects on window resize */
}

#toolBar
{
  position: fixed;
  /* background-color: #fcffe8; */
}

#test
{
  right: 0;
  top: 0;
  color: black;
  position: absolute;
}

#colorInput
{
  right: 0;
  bottom: 10vh;
  position: fixed;
  opacity: 0.0;
}

#fontSizeInput
{
  right: 0.75vw;
  bottom: 50vh;
  position: fixed;
  opacity: 0.0;
}

input
{
  font-family: "Luckiest Guy", cursive;
  width: 9vw;
  /* padding: 2vw; */
}

/* input:focus, textarea:focus
{
  background-color: white;
} */

.headingInput, .heading2Input, .paragraphInput
{
  position: absolute;
  background-color: transparent;
  /* background-color: rgba(255,255,255,1.0); */
  border: none;
  /* pointer-events: none; */
}

.unfocusable
{
  pointer-events: none;
  user-select: none;
}

/* input:focus
{
  background-color: white;
} */

.headingInput
{
  font-size: 3vw;
}
.heading2Input
{
  font-size: 2vw;
}
.paragraphInput
{
  font-size: 1vw;
  font-family: 'Quicksand', sans-serif;
  resize: none;
}

img
{
  position: absolute;
  left: 50%;
  top: 10%;
  pointer-events: none;
}

#imageSelector
{
  position: fixed;
  right: 0;
  bottom: 200px;
  width: 10vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  opacity: 0.0;
}

#opacitySlider
{
  position: fixed;
  right: 0;
  bottom: 30vh;
  height: 1.5vw;
  width: 10vw;
  opacity: 0.0;
  -webkit-appearance: none;
  /* height: 1vh; */
  background: white;
  outline: none;
}

#opacitySlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.25vw;
  height: 2.5vw;
  /* border-radius: 50%; */
  background: #85c3dc;
  cursor: pointer;
}

#opacitySlider::-moz-range-thumb {
  width: 1.25vw;
  height: 2.5vw;
  /* border-radius: 50%; */
  background: #85c3dc;
  cursor: pointer;
}

#imageSelector
{
  position: fixed;
  right: 0;
  bottom: 200px;
  width: 10vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  opacity: 0.0;
}

#fontSizeSlider
{
  bottom: 50vh;
  position: fixed;
  right: 0;
  height: 1.5vw;
  width: 10vw;
  opacity: 0.0;
  -webkit-appearance: none;
  /* height: 1vh; */
  background: white;
  outline: none;
}

#fontSizeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.25vw;
  height: 2.5vw;
  /* border-radius: 50%; */
  background: #f27a86;
  cursor: pointer;
}

#fontSizeSlider::-moz-range-thumb {
  width: 1.25vw;
  height: 2.5vw;
  /* border-radius: 50%; */
  background: #f27a86;
  cursor: pointer;
}

/* .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
} */
